/*qua sotto inserisco le impostazioni di default del mio CSS*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* qua sopra inserisco le impostazioni di default del mio CSS*/

@font-face {
    font-family: "museo-sans";
    src: url(../assets/fonts/MuseoSans.woff2);
}
@font-face {
    font-family: "museo-sans-bold";
    src: url(../assets/fonts/MuseoSansBold.woff2);
}

.nintendo-title{
    font-family: "museo-sans" , 'Sans Serif';
    font-weight: bold;
    font-size: 28px;
    color: rgb(72, 72, 72);
}

/*-------------------------------------------------------*/


.banner{
    width: 100%;
    height: 700px;
    padding-top: 96px;
} /*la classe "banner" indica la sezione banner, e determina ciò che si vede dietro al poster di Kirby: una sfumatura 
dal rosa al bianco, la larghezza e l'altezza del Div*/


figure{
    background: linear-gradient(rgb(88,117,153),rgb(247,221,206));
    height: 470px;}

.banner-image{
    width: 96%;
    margin: 30px 2% 0 2%;
    border-radius: 4px;
    border: 1.2px solid rgb(247,221,206);
} /*Ho stabilito la larghezza del Div che contiene il poster ed anche i margini*/


/*-------------------------------------------------------*/

.banner-title {
    max-width: max-content;
    margin: 40px 5px 40px 0;
    /*border: 2px lime solid;*/
}


/*
.wrapper1{
    width: 1000px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}*/



#second-button{
    font-family: 'Work Sans', 'sans-serif' ;
    font-weight: bold;
    font-size: 18px;
    border-style: none;
    background-color: rgb(231, 26, 26);
    color: white;
    border-radius: 3px;
    height: 50px;
    width: 170px;
    position: relative;
}

#second-button:hover{
    cursor: pointer;
    background-color: rgb(165, 20, 20);
    position: relative;
    animation-name: button2;
    animation-duration: 0.7s;
}

@keyframes button2{
    0%{
        width: 170px;
        height: 50px;
    }
    50%{ width: 190px;
        height: 60px;
    }
    60%{ width: 176px;
        height: 64px;
    }
    70%{
        width: 180px;
        height: 58px;
    }
}

#cta-button {
    font-family: 'Work Sans', 'sans-serif' ;
    font-weight: bold;
    font-size: 18px;
    padding: 0 20px;
    margin: 32px 25px;
    border-style: none;
    background-color: rgb(231, 26, 26);
    color: white;
    border-radius: 3px;
}
#cta-button:hover{
    cursor: pointer;
    background-color: rgb(165, 20, 20);
    position: relative;
    animation-name: button;
    
    animation-duration: 0.5s;

}


@keyframes button{
    0%{
        transform: scale(1.0);
    }
    50%{
        transform: scale(1.2);
    }
    70%{
        transform: scale(1.1);
    }
    80%{
        transform: scale(1.2);
    }
}

/*@keyframes button{
    0%{
       padding: 0 20px;
    }
    50%{
        padding: 10px 25px;
    }
} continuo questa animazione dopo come task supplementare*/

.pegi-description{
    font-size: 12px;
    font-weight: lighter;
    font-family: sans-serif;
    color: rgb(54, 54, 54);
    padding: 0 15px 0 10px;
}
.wrapper2 {
    display: flex;
    align-items: center;
    /*border: 2px black solid;*/
}

.wrapper2{float: right;}

.big-wrapper {
    width: 96%;
    margin: 5px auto;
    display: flex;
    justify-content: space-between;
    }

.div-line{
    margin: 35px auto 0;
    border: 0.25px solid rgb(206, 206, 206);
    width: 96%;

}

.div-line2{
    margin: 50px auto 0;
    border: 0.25px solid rgb(206, 206, 206);
    width: 100%;}

.featured{
    width: 100%;
    height: 500px;
    margin-top: 130px;

}
.title-featured{
    font-family: 'Work Sans', 'sans-serif' ;
    font-weight: bold;
    font-size: 27px;
    color: rgb(73, 73, 73);
    margin: 10px 0 0 2%;
}
.media-scroller{
    display: grid;
    grid-auto-flow: column;
    gap: var(--size-3);
    overscroll-behavior-inline: contain;
    overflow-x: auto;
}

.media-element{
    
    width: 264px;
    /*height: 268px;*/
    max-height: max-content;
    margin: 0 20px;
    border-radius: 3px;
    border: 1px solid rgb(206,206,206);
    }

/*
.media-scroller--with-groups{
    border: 2px solid pink;
    grid-auto-columns: 100%;
}*/

.media-group{
    /*border: 2px solid greenyellow;*/
    display: grid;
    grid-auto-flow: column;
    gap: var(--_spacer);
    padding: 70px 0 13px;
}
.one{
    margin-left: 10px;
}

.div-line2{
    margin: 60px 0;
    border: 0.25px solid rgb(206, 206, 206);

}
.element-image{
    width: 264px;
    height: 150px;
    border-radius: 3px;
    background: url(https://img.youtube.com/vi/H3LAkr0ANgw/maxresdefault.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.element-image2{
    width: 264px;
    height: 150px;
    border-radius: 3px;
    background: url(https://fs-prod-cdn.nintendo-europe.com/media/images/10_share_images/games_15/nintendo_switch_4/2x1_NSwitch_NintendoSwitchSports_enGB_image1600w.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.element-image3{
    width: 264px;
    height: 150px;
    border-radius: 3px;
    background: url(https://fs-prod-cdn.nintendo-europe.com/media/images/10_share_images/games_15/nintendo_switch_4/H2x1_NSwitch_MetroidDread.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.element-image4{
    width: 264px;
    height: 150px;
    border-radius: 3px;
    background: url(https://techprincess.it/wp-content/uploads/2021/04/mario-kart-8.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.element-image5{
    width: 264px;
    height: 150px;
    border-radius: 3px;
    background: url(https://fs-prod-cdn.nintendo-europe.com/media/images/10_share_images/games_15/nintendo_switch_download_software_1/H2x1_NSwitchDS_MlbTheShow22.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.element-image6{
    width: 264px;
    height: 150px;
    border-radius: 3px;
    background: url(https://i.ytimg.com/vi/VzuH8idrZM4/maxresdefault.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.element-image7{
    width: 264px;
    height: 150px;
    border-radius: 3px;
    background: url(https://cdn2.unrealengine.com/en-s20-social-1920x1080-03029f42ab3e.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.element-image8{
    width: 264px;
    height: 150px;
    border-radius: 3px;
    background: url(https://ps5giochiguida.com/wp-content/uploads/2022/01/1641660743_Rilasciato-il-trailer-giapponese-di-sei-minuti-di-Pokemon-Legends.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.element-image9{
    width: 264px;
    height: 150px;
    border-radius: 3px;
    background: url(https://fs-prod-cdn.nintendo-europe.com/media/images/10_share_images/games_15/nintendo_switch_4/2x1_NSwitch_MarioStrikersBattleLeagueFootball_image1600w.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.element-image10{
    width: 264px;
    height: 150px;
    border-radius: 3px;
    background: url(https://net-storage.tcccdn.com/storage/esportsweb.it/img_notizie/thumbbig/ae/ae0d7ee967c3937829a51918830f4862-21842-d41d8cd98f00b204e9800998ecf8427e.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.element-image11{
    width: 264px;
    height: 150px;
    border-radius: 3px;
    background: url(https://www.sportsunfold.com/wp-content/uploads/2022/04/afkgaming56.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.element-image12{
    width: 264px;
    height: 150px;
    border-radius: 3px;
    background: url(https://xboxplay.games/uploadStream/6884.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.element-text h2{ 
    /*border: 2px solid black;*/
    margin: 16px;
    font-size: 16px;
    font-family: 'Work Sans', 'sans-serif' ;
    font-weight: bold;
    line-height: 1.3;
    color: rgb(73, 73, 73);
}
.element-text h2:hover{
    color: rgb(231, 26, 26);
    cursor: pointer;
}
.element-text p{
    font-size: 14px;
    font-family: sans-serif;
    font-weight: lighter;
    color: rgb(73, 73, 73);
    margin: 0 0 0 16px;
    text-decoration: underline 2px red;
    line-height: 1.2;
    padding-bottom: 30px;
}

/*.element-image:hover{
}*/


/* | NEW TEXT AND BUTTON UNDER BANNER */

button{
    font-family: 'Work Sans', 'sans-serif' ;
    font-weight: bold;
    font-size: 17px;
    border-style: none;
    background-color: rgb(231, 26, 26);
    color: white;
    border-radius: 4px;
    /*padding: 10px 20px;*/
    padding: 0.8rem 1.2rem;
    margin: auto;
}

button:hover{
    cursor: pointer;
    background-color: rgb(165, 20, 20);
    position: relative;
    animation-name: button2;
    animation-duration: 0.7s;
    animation-timing-function: ease-in-out;
}

@keyframes button2{
    0%{
        padding: 0.8rem 1.2rem;
    }
    50%{ 
        padding: 1.4rem 1.4rem;
    }
    60%{
        padding: 1.2rem 1.8rem;
    }
    70%{
        padding: 1.4rem 1.6rem;
    }
    100%{
        padding: 1.2rem 1.8rem;
        animation-play-state: paused;
    }
} 

.banner-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
    width: 400px;
    
}
.banner-container button{
    font-family: "museo-sans";
}

.nintendo-title{
    font-family: "museo-sans";
    font-weight: bold;
    font-size: 28px;
    color: rgb(73, 73, 73);
}

.pegi{
    display: flex;
    align-items: center;
}

.pegi p{
    font-weight: lighter;
    font-family: sans-serif;
    font-size: 13px;
    margin: 0 0 0 8px;
}
.banner-wrapper{
    display: flex;
    justify-content: space-between;
    margin: 70px 2% 0;

}

@media screen and (min-width:1500px) {
    .banner-wrapper{
        margin: 120px 2% 0 ;
    }
    .featured {
        margin-top: 200px;
    }
}


@media screen and (min-width:1550px) {
    .banner-wrapper{
        margin: 150px 2% 0 ;
    }
    .featured{
        margin-top: 180px;
    }
}

@media screen and (min-width:1600px) {
    .banner-wrapper{
        margin: 200px 2% 0 ;
    }
    .featured{
        margin-top: 250px;
    }
}