.characters{
    flex-direction: row;
    display: flex;
    box-sizing: content-box;
    justify-content: center;
}

.icon-characters{
    flex-direction: column;
    display: flex;
    margin: 16px;
    margin-bottom: 10px;
}

.fig-chara, .h2-characters{
    color: #1a1919;
    font-weight:900;
    font-size: 20px;
    margin-top: 5px;
}

.h2-characters{
    margin-left: 160px;
    font-size: 28px;
}

#space{
    height: 100px;
}

.img-chara:hover{
    cursor: pointer;
    zoom: 105%;
}