/*
    Queste variabili presenti nel root, vengo utilizzate per modificare il colore dei SVG
*/
:root{
    --red: invert(24%) sepia(39%) saturate(7295%) hue-rotate(342deg) brightness(81%) contrast(132%);
    --white: invert(100%) sepia(6%) saturate(25%) hue-rotate(104deg) brightness(106%) contrast(101%);
    --liteBlack: invert(28%) sepia(12%) saturate(33%) hue-rotate(320deg) brightness(104%) contrast(87%);
    --grey: invert(86%) sepia(0%) saturate(0%) hue-rotate(141deg) brightness(96%) contrast(87%);
}


@font-face {
    font-family: "museo-sans";
    src: url(../assets/fonts/MuseoSans.woff2);
}
@font-face {
    font-family: "museo-sans-bold";
    src: url(../assets/fonts/MuseoSansBold.woff2);
}

*{
    box-sizing: border-box;
    font-family: "museo-sans", -apple-system, BlinkMacSystemFont, sans-serif;
}

html, body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

/* INIZIO CSS NAV */

nav{
    position: fixed;
    z-index: 2;
}


.nav-container{
    width: 100vw;
    height: max-content;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

/*Inizio css nav top section*/
.nav-section-top{
    width: 100vw;
    height: 52px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    border-bottom: 1px solid rgb(233,233,233);
}

/*Inizio css nav top section left*/
.nav-section-top-left{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    justify-content: space-between;
    gap: 15px;
}

/*Top left section logo*/
.nav-logo-container{
    width: 105px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e60012;
}

.logo-top-nav{
    filter: var(--white);
    -webkit-filter: var(--white);
}

/*Top left section search*/
.nav-search-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-search-container:hover > .drop-down-search{
    display: flex;
    z-index: 2;
}

#searchNav{
    border-bottom: 1px solid rgb(33,33,33);
    padding: 5px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#searchNav:hover{
    border-bottom: 1px solid #e60012;
    cursor: pointer;
}
.search-input{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
    width: 300px;
}
.search-icon{
    margin-right: 5px;
    filter: var(--liteBlack);
    -webkit-filter: var(--liteBlack);
}
#searchNavInput{
    width: 225px;
    border: none;
    font-size: 14px;
}
#searchNavInput:focus{
    outline: none;
}

.search-input:hover > .search-icon{
    filter: var(--red);
    -webkit-filter: var(--red);
}

.search-input:hover #searchNavInput{
    color:#e60012;
    cursor: pointer;
}


#searchNavOptions{
    background: none;
    border: none;
    font-family:"museo-sans-bold", -apple-system, BlinkMacSystemFont, sans-serif;
    color: #484848;
    padding: 0px;
}
#searchNavOptions:hover{
    color:#e60012;
    cursor: pointer;
}
#searchNavOptions > option{
    color: #484848;
    margin-top: 10px;
}

#searchNavOptions > option:hover{
    box-shadow: 0px 0px red;
}


/* Drop down search top left section*/

.drop-down-search{
    height: max-content;
    position: absolute;
    background-color: #fff;
    top: 52px;
    left: 0;
    right: 0;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 50px;
    border-bottom: 1px solid #484848;
}
.drop-down-search-center{
    display: flex;
    justify-content: start;
    align-items: stretch;
    width: 90vw;
    padding-bottom: 50px;
}

/* Drop down search menu top left section*/
.drop-search-menu{
    flex-grow: 2;
}
.drop-search-menu > ul > li{
    list-style-type: none;
    font-family: "museo-sans-bold", -apple-system, BlinkMacSystemFont, sans-serif;
    color: #484848;
    margin: 15px 0;
}
.drop-search-menu > ul > li > a{
    font-family: "museo-sans-bold", -apple-system, BlinkMacSystemFont, sans-serif;
    text-decoration: none;
    color:#e60012;
}

.drop-search-menu > ul > li > a:hover{
    color: #ac000d;
}

/* Drop down search products top left section*/
.drop-search-products{
    flex-grow: 2;
    display: flex;
    flex-direction: column;
}
.search-products-title{
    margin: 15px 0;
}
.search-products-title > span{
    font-family: "museo-sans-bold", -apple-system, BlinkMacSystemFont, sans-serif;
    color:#484848;
}
.search-products-card-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 700px;
    flex-wrap: wrap;
    gap: 20px;
}
.search-products-card{
    width: 340px;
    height: 80px;
    border: 1px solid rgb(213,213,213);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    display: flex;
}

.products-card-img{
    position: relative;
    width: 141px;
}

.products-card-img > img{
    width: 141px;
    height: auto;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    cursor: pointer;
    position: relative;
}
.products-card-img:hover::after{
    content:"";
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.3);
}
.products-card-content{
    width: 100%;
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.products-card-header > span > a{
    text-decoration: none;
    color: #484848;
    font-family: "museo-sans-bold", -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 13px;
}
.products-card-header > span > a:hover{
    color:#e60012;
}
.products-card-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.products-card-tag{
    border-bottom: 2px solid #e60012;
}

.products-card-tag > span{
    font-size: 13px;
    color: #484848;
}

.products-card-heart{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/*Inizio css nav top section right*/

.nav-section-top-right{
    display: flex;
    justify-content: center;
    align-items: stretch;
    padding: 0px 20px;
}

.nav-top-menu-container, .nav-bottom-menu-container{
    display: flex;
    justify-content: center;
    align-items: stretch;
}
.nav-top-menu, .nav-bottom-menu{
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 30px;
    margin: 0;
    padding: 0;
}
.nav-top-menu li, .nav-bottom-menu li{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-top-menu li a, .nav-bottom-menu li a{
    display: flex;
    justify-content: center;
    align-items: stretch;
    color: #484848;
    gap: 5px;
    text-decoration: none;
}
.nav-top-menu span{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "museo-sans-bold";
    font-size: 14px;
}
.menu-icon, .menu-arrow{
    filter: var(--liteBlack);
    -webkit-filter: var(--liteBlack);
}
.nav-top-menu li:hover > a, .nav-bottom-menu li:hover > a{
    color: #e60012;
}
.nav-top-menu li:hover .menu-icon, .nav-bottom-menu li:hover .menu-icon, .nav-bottom-menu li:hover .menu-arrow{
    filter: var(--red);
    -webkit-filter: var(--red);
}

/* Nav Bottom menu */
.nav-section-bottom{
    width: 100vw;
    height: 44px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    border-bottom: 1px solid rgb(233,233,233);
}
.nav-bottom-menu > li > a > span{
    display: flex;
    font-family: "museo-sans-bold";
    font-size: 16px;
    padding: 0 2px;
}
.menu-arrow{
    transition: .2s ease-in-out;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -ms-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
}

.nav-bottom-menu > li:hover > a > .menu-arrow{
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}


/* Nav drop down menu hidden */

#dropMyNintendoStore, #dropGames, #dropNintendoSwitch, #dropPlayNintendo{
    display: none;
}

#menuMyNintendoStore:hover > #dropdownMenuContainer, #menuMyNintendoStore:hover * #dropMyNintendoStore, #menuGames:hover > #dropdownMenuContainer, #menuGames:hover * #dropGames, #menuNintendoSwitch:hover > #dropdownMenuContainer, #menuNintendoSwitch:hover * #dropNintendoSwitch, #menuPlayNintendo:hover > #dropdownMenuContainer, #menuPlayNintendo:hover * #dropPlayNintendo{
    display: flex;
    z-index: 2;
}

.dropdown-shadow{
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,.5);
    z-index: 1;
}


.dropdown-menu-container{
    width: 100vw;
    display: none;
    height: max-content;
    padding-bottom: 15px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #484848;
    position: absolute;
    left: 0;
    top: 96px;
    z-index: 2;
}
.dropdown-menu-nav{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#dropMyNintendoStore .dropdown-top{
    width: 100%;
    height: 64px;
    background-color: #e60012;
    display: flex;
    justify-content: center;
    align-items: stretch;
    position: relative;
}
.dropdown-menu-title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown-title{
    display: flex;
    justify-content: center;
    align-items: stretch;
}
.dropdown-title img{
    filter: var(--white);
    -webkit-filter: var(--white);
}
#dropMyNintendoStore .container-close-dropdown{
    position: absolute;
    right: 20px;
    top: 20px;
    bottom: 0;
    filter: var(--white);
    -webkit-filter: var(--white);
}
.dropdown-wave{
    width: 100%;
    height: 14px;
    background-color: #fff;
    background-image: url(../assets/img/svg/wave.svg);
}

/* Nav drop down menu hidden menu section */
.dropdown-menu{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    padding: 10px 0;
    gap: 20px;
    background-color: white;
}
.dropdown-menu-section{
    display: flex;
    justify-content: start;
    align-items: flex-start;
}
.dropdown-menu-section ul{
    padding: 0;
    margin: 0;
}
.dropdown-menu-section ul li{
    display: flex;
    justify-content: start;
    align-items: center;
    list-style-type: none;
    padding: 3px 0px;
    font-size: 14px;
}
.dropdown-menu-section ul li:first-child span{
    font-family: "museo-sans-bold";
    font-size: 16px;
}

.dropdown-menu-section a{
    text-decoration: none;
    color: #484848;
    display: flex;
    justify-content: stretch;
    align-items: center;
    gap: 5px;
}
.dropdown-menu-section a:hover{
    color:#e60012;
}
.dropdown-menu-section .menu-icon{
    filter: var(--red);
    -webkit-filter: var(--red);
}

.dropdown-button{
    background-color: #fff;
    border: 1px solid #e60012;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-family: "museo-sans-bold";
    color:#484848;
    font-size: 18px;
    padding: 12px 24px;
}

.dropdown-button:hover{
    background-color:#e6001318;
    color: #e60012;
    cursor: pointer;
}

/* DropGames, DropNintendoSwitch, dropPlayNintendo */
.dropdown-top{
    width: 100%;
    height: 30px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: stretch;
    position: relative;
}
.container-close-dropdown{
    position: absolute;
    right: 20px;
    top: 10px;
    bottom: 0;
    filter: var(--grey);
    -webkit-filter: var(--grey);
}

#dropGames .dropdown-menu-section{
    width: 120px;
    height: 112px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
}

.dropdown-menu-section:hover .dropdown-section-img{
    background-color: #ac000d;
}
.dropdown-menu-section:hover .dropdown-section-img > img{
    filter: var(--white);
    -webkit-filter: var(--white);
}

.dropdown-menu-section > a {
    display: flex;
    flex-direction: column;
    min-width: 120px;
}
.dropdown-section-img{
    width: 100%;
    height: 68px;
    border: 1px solid #dadada;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dropdown-section-img > img{
    width: 42px;
    height: 42px;
    filter: var(--liteBlack);
    -webkit-filter: var(--liteBlack);
}
.dropdown-section-text{
    text-align: center;
    font-size: 14px;
}

#nintendoSwitchLineup{
    width: 258px;
    height: auto;
    filter: none;
    -webkit-filter: none;
}
.dropdown-menu-section:hover #nintendoSwitchLineup, #nintendoAccessories, #nintendoShopSystem{
    filter: none;
    -webkit-filter: none;
}
#nintendoAccessories, #nintendoShopSystem{
    width: 118px;
    height: auto;
    filter: none;
    -webkit-filter: none;
}
.dropdown-bottom{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}