/* start news css */

hr.hr-news{
    width: 100%;
    border-width: 0.0625rem 0px 0px;
    border-bottom-style: initial;
    border-bottom-color: initial;
    border-left-style: initial;
    border-left-color: initial;
    border-right-style: initial;
    border-right-color: initial;
    border-top-style: solid;
    border-top-color: rgb(218, 218, 218);
}

.main-container-news{
    display: grid;
    margin-left: 10%;
    margin-right: 10%;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    gap: 10px;
}

.container-news{
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 10px;
}

.card-news{
    display: flex;
    flex-direction: column;
}

.title-news{
    grid-column: 1/5;
    color: black;
    text-align: left;
}

.b-news1
{
    grid-column: 1/3;
}

.b-news2
{
    grid-column: 3/5;
}

.img-news{
    width: 100%;
    border-radius: 5%;
}

a.article-news{
    color: black;
    text-decoration: none;
}

.title-article-news{
    display: -webkit-box; 
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical; 
    overflow: hidden; 
    height: calc(4.9em); 
} 

.content-article-news{
    display: -webkit-box; 
    -webkit-line-clamp: 2;
    -webkit-box-orient:vertical; 
    overflow:hidden; 
    height: calc(6); 
} 

.read-more-news{
    font-weight: bold;
    color: red;
    text-decoration: underline;
    height: 10%;
}

/* per applicare effetti di :hover quando si passa sull'articolo */
.card-news:hover .img-news{
    transition: 200ms;
    opacity: 0.5;
}

.card-news:hover .title-article-news{
    transition: 200ms;
    color: red;
}

.card-news:hover .read-more-news{
    transition: 200ms;
    color: darkred;
}
/* per applicare effetti di :hover quando si passa sull'articolo */

.see-all-news{
    grid-row: 3/4;
    height: 50px;
    width: 200px;
}

.see-all-news a{
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content:space-around;
    text-align: center;
    cursor: pointer;
    font-weight: 700;
    white-space: nowrap;
    color: rgb(255, 255, 255);
    flex-direction: row;
    background-color: rgb(230, 0, 18);
    padding: 5px;
    height: 100%;
    width: 100%;
    border-radius: 0.25rem;
    text-decoration: none;
    transition:  0.2s;
}

.see-all-news a:hover{
    transform: scale(1.2 , 1.2);
    transition: 200ms;
    opacity: 0.5;
}

.see-all-news svg{
    padding-right: 10px;
}



@media only screen and (max-width: 850px)
{
    .see-all-news{
        
        width: 100%;
        height: 100%;
    }

    .container-news{
        display: flex;
        flex-direction: column;
    }
}

/* end news css */