* {
    box-sizing: border-box;

}
.h2-container-seller {
    display: flex;
    align-items: center;
}
div.h2-container-seller a {
    text-decoration: none;
    color: red;
    border-bottom: 2px solid red;
    margin-left: 1rem;
}
.h2-seller-releases {
    border-right: 1px solid rgb(218, 218, 218);
    text-align: initial;
    padding-right: 1rem;
}
div.card-text-seller-releases h3 {
    color: initial;
}
div.card-text-seller-releases a {
    text-decoration: none;
}
.price-seller {
    padding-top: 6rem;
    color: rgb(72, 72, 72);
}
.nintendo-switch-card {
    padding-top: 1rem;
}
div.nintendo-switch-card span{
    border-bottom: 2px solid red;
    font-weight: initial;
}
.img_seller-releases {
    overflow: hidden;
    font-weight: 700;
}
.img_seller-releases img {
    width: 260px;
    height: 146.25px;
}
.box_seller-releases {
    margin: 6rem;
    align-items: flex-end;
    cursor: pointer;
}
.box_seller-releases > div {
    display: flex;
        
}
.box_seller-releases a:hover {
        color: red;
}
.card-seller-releases {
    display: block;
    border-top: none;
    margin: 1em;
}
.card-text-seller-releases {
    font-size: 1rem;
    margin: 1rem;
    
}
.border-card-sellers {
    border: 1px solid silver;
    border-top: none;

}
