* {
    box-sizing: border-box;
}
/*  CONTENITORE GENERALE */

.container-seller-digital {
    display: flex;
    justify-content: space-evenly;
    margin: 0 4rem;
    font-weight: 700;
}
/*  CONTENITORE CARD */

.card-box-seller-digital {
    border: 1px solid silver;
    border-radius: 4px;
    padding-bottom: 1rem;

    max-width: 260px;
    min-height: 350px;
    height: 350px;
    width: 260px;

    box-sizing: content-box;
}

.card-box-seller-digital img {
    width: 260px;
}

/*  STILE E POSIZIONE TESTO CARD */

.style-text-card {
    margin: 10px;
    display: block;
    flex-direction: column;
    height: 100%;
}
.style-text-card-seller h3 {
    font-size: 0.9rem;
}
.style-padding-price-seller {
    color: rgb(72, 72, 72);
    
}
.style-padding-ninswitch-seller {
    font-weight: initial;
    padding-top: 1rem;
}
.style-padding-ninswitch span {
    border-bottom: 2px solid red;
    padding-bottom: 5px;
}
/*      ----LINK-----      */

.container-seller-digital a {
    text-decoration: none;
    color: initial;
}
.container-seller-digital h3:hover {
    color: red;
}



