/*      GENERAL RULE         */

* {
    box-sizing: border-box;
}
html {
    font-size: 16px;
}
body {
    font-weight: 700;
}
/*      CONTENITORE SEZIONE      */

.Container-seller-releases {
    display: flex;
    justify-content: space-evenly;
    margin: 48px 32px;
}
/*      CONTENITORE CARD     */

.containercard-seller-releases {
    display: flex;
    flex-direction: column;
    border: 1px solid silver;
    border-radius: 4px;
    box-sizing: content-box;
    width: 260px;
    height: 337px;
}

.style-seller-releases {
margin: 0 20px;
height: 100%;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: initial;

}
/*   ------------    STYLE TITOLI TESTATE--------- */

.testata-top-seller-release {
    display: inline-flex;
    align-items: baseline;
    color: rgb(72, 72, 72);
    margin-bottom: 0;
}
.testata-top-seller-release h2 {
    border-right: 1px solid rgb(218, 218, 218);
    margin-right: 16px;
    padding-right: 16px;
    font-size: 32px;
}
.testata-top-seller-release a {
    color: rgb(172, 0, 13);
    text-decoration: none;
    border-bottom: 2px solid rgb(172, 0, 13);
    padding-bottom: 0.8px;
    font-size: 1rem;
}
.testata-bottom-seller-release h2{
    font-size: 36px;
    display: inline-flex;
    color: rgb(72, 72, 72);
}

/*     -----------  STYLE CARD    ------------  */

.h3-seller-releases {
    margin-bottom: 0px;
}
.price-seller-releases {
    color: rgb(72, 72, 72);
    padding-top: 3.3rem;
}
.ninswitch-seller-releases {
    font-weight: initial;
    margin-top: 8px;
    padding-bottom: 32px;
    text-decoration: underline red 2px;
    text-underline-offset: 0.5rem;
}
.containercard-seller-releases a {
    display: contents;
    text-decoration: none;
    color: inherit;
}
.containercard-seller-releases h3:hover {
    color: red;
}

/*     --- ------SPOSTAMENTO IMG-------     */

.containercard-seller-releases img {
    transition: all 4sec ease-out;
    -moz-transition: all 4sec ease-out;
    -ms-transition: all 4sec ease-out;
    -o-transition: all 4sec ease-out;
    -webkit-transition: all 4sec ease-out;
}
.containercard-seller-releases img:hover {
   transform: translate(0, -1rem);
   -webkit-transform: translate(0, -1rem);
   -moz-transform: translate(0, -1rem);
   -ms-transform: translate(0, -1rem);
   -o-transform: translate(0, -1rem);
}
.sgv-seller {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
