.container-news{
    display: grid;
    margin-left: 10%;
    margin-right: 10%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    gap: 10px;
    background-color: rgb(255, 255, 255);
}

.card-news{
    display: flex;
    flex-direction: column;
}

.title-news{
    grid-column: 1/5;
    color: black;
    text-align: left;
}

.b-news1
{
    grid-column: 1/3;
}

.b-news2
{
    grid-column: 3/5;
}

.img-news{
    width: 100%;
    border-radius: 5%;
}

a.article-news{
    color: black;
    text-decoration: none;
}

.title-article-news{
    display: -webkit-box; 
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical; 
    overflow: hidden; 
    height: calc(4.9em); 
} 

.content-article-news{
    display: -webkit-box; 
    -webkit-line-clamp: 2;
    -webkit-box-orient:vertical; 
    overflow:hidden; 
    height: calc(6); 
} 

.read-more-news{
    font-weight: bold;
    color: red;
    text-decoration: underline;
    height: 10%;
}

/* per applicare effetti di :hover quando si passa sull'articolo */
.card-news:hover .img-news{
    transition: 200ms;
    opacity: 0.5;
}

.card-news:hover .title-article-news{
    transition: 200ms;
    color: red;
}

.card-news:hover .read-more-news{
    transition: 200ms;
    color: darkred;
}
